**/target/
sdk/src/artifacts/
.localnet/
contracts/target/
onchain/target/
target/
test-ledger/
private/

*.sw?
# Onchain builds
**/*.so
**/*.ds_store
*.db
*.log
mcp/listener.pid
demo/keys/*.json
demo/logs/
demo/data/
